.app-size {
    width: 700px;
}

.wall-add {
    padding-bottom: 50px;
}

.post {
    border: 1px solid #00b3ee;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 20px;
}

.content {
    border-bottom: 1px solid #0f0f0f;
}

.text {
    padding: 2px;
}

.comment {
    min-height: 50px;
}

.actions {
    position: relative;
}

.btn-action {
    cursor: pointer;
}

.like {
    position: absolute;
    right: 0;
    top: 0;
}

.fa {
    cursor: pointer;
}

.fa-remove {
    color: #ff182a;
}

.gallery-box {
    width: 200px;
    padding: 5px;
    margin: 7px;
    float: left;
    min-height: 200px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}

.gallery-box .thumbnail {
    height: 188px;
    width: 188px;
}

.thumbnail img {
    max-width: 200px;
    max-height: 150px;
}