<form ng-submit="sign.signin()">
    <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input ng-model="sign.user.email" type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword">Пароль</label>
        <input ng-model="sign.user.password" type="password" class="form-control" id="exampleInputPassword" placeholder="****">
    </div>
    <button type="submit" class="btn btn-default">Войти</button> или <a ng-href="#/signup">Регистрация</a>
</form>