<div class="row">
    <div class="col-md-12">
        <label for="text">Text</label>
        <textarea ng-model="wall.wall.text" placeholder="Enter text" class="form-control" id="text" rows="3"></textarea>
    </div>
    <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <upload-image image-callback="wall.addImage"></upload-image>
                </div>
                <div class="col-md-12">
                    <div ng-repeat="image in wall.wall.images track by $index" class="gallery-box">
                        <div class="thumbnail" ng-show="wall.wall.images.length">
                            <img ng-src="{{image.image}}">
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-xs btn-danger" ng-click="wall.removeImage($index)">Remove</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-12">
        <button ng-click="wall.add();" type="button" class="btn btn-primary btn-sm btn-block">Add post</button>
    </div>
</div>