<div class="row wall-form">
    <form ng-submit="wall.add();" name="wallAdd" novalidate="novalidate" >
        <div class="form-group col-md-12">
            <textarea ng-model="wall.wall.text" placeholder="Enter text"
                      ng-minlength="1"
                      required
                      class="form-control" rows="3">
            </textarea>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <upload-image image-callback="wall.addImage"></upload-image>
                </div>
                <div class="col-md-12">
                    <div ng-repeat="image in wall.wall.images track by $index" class="gallery-box">
                        <div class="thumbnail" ng-show="wall.wall.images.length">
                            <img ng-src="{{image.image}}">
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-xs btn-danger" ng-click="wall.removeImage($index, 'wall')">Remove</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-sm btn-block">Add post</button>
        </div>
    </form>
</div>