<div ng-init="wall.init()">
    <div class="wall-add col-md-12">
        <wall-add></wall-add>
    </div>
    <div ng-repeat="post in wall.walls track by $index" class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <h4>{{post.user.name}} - {{post.created_at}}</h4>
                </div>
                <div class="actions col-md-3">
                    <div ng-init="sizeIcon = 'fa-2x';" class="like">
                        <i ng-click="wall.noInteresting($index)" ng-if="post.user.id == 1" class="btn-action fa fa-bullhorn fa-2x" aria-hidden="true"></i>
                        <i ng-click="wall.edit($index)" ng-if="post.user.id == 1" class="btn-action fa fa-edit fa-2x" aria-hidden="true"></i>
                        <i ng-click="wall.remove($index)" ng-if="post.user.id == 1"
                           class="btn-action fa fa-remove fa-2x" aria-hidden="true"></i>
                        <i ng-click="wall.like(post.id, 'wall')"
                           ng-if="sizeIcon = post.is_liked == true ? 'fa-3x' : 'fa-2x'"
                           class="btn-action fa fa-heart " ng-class="sizeIcon" aria-hidden="true"></i>
                        {{post.likes}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="content col-md-12">{{post.text}}</div>
                <div class="images col-md-12">
                    <div class="row">
                        <div ng-repeat="image in post.images" class="col-xs-8 col-md-4">
                            <a href="#" class="thumbnail">
                                <img src="{{wall.server + image.path}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div ng-repeat="comment in post.comments" ng-init="sizeIcon = 'fa-1x';" class="col-md-offset-1 col-md-11">
                    <div class="row">
                        <div class="col-md-12">{{comment.user.name}}User name</div>
                        <div class="col-md-12">
                            <div style="height: 50px" class="row">
                                <div class="col-md-9">{{comment.text}}</div>
                                <div class="actions col-md-3">
                                    <div class="like">
                                        <i ng-click="wall.reply(1)" class="fa fa-reply fa-1x"></i>
                                        <i ng-click="wall.edit($index)" ng-if="comment.user.id == 1" class="btn-action fa fa-edit fa-2x" aria-hidden="true"></i>
                                        <i ng-click="wall.remove($index)" ng-if="comment.user.id == 1"
                                           class="btn-action fa fa-remove fa-2x" aria-hidden="true"></i>
                                        <i ng-click="wall.like(comment.id, 'comment', post.id)"
                                           ng-if="sizeIcon = comment.is_liked == true ? 'fa-2x' : 'fa-1x'"
                                           class="btn-action fa fa-heart " ng-class="sizeIcon" aria-hidden="true"></i>
                                        {{comment.likes}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-comment col-md-offset-1 col-md-11">
                    <textarea ng-model="wall.comment.text" class="form-control" rows="3"></textarea>
                    <button ng-click="wall.addComment(post.id)" type="AuthorReplybutton"
                            class="btn btn-primary btn-sm btn-block">Add comment
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>